<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark" dir="rtl"><a class="nav-link text-light text-right" i18n="lien pour langue" i18n-href href="/en"  >English</a></nav>

<div id="lab26Carousel" class="carousel slide" data-ride="carousel">
  <!-- slides -->
  <div class="carousel-inner">

    <div class="carousel-item text-center card">
        <a href="https://montreal.ca/" i18n-href="url ville" i18n="nom ville" target="_blank" class="card-img-overlay text-light">Ville de Montréal</a>
        <img src="assets/montreal-247795_1280.jpg" class="d-block w-100 card-img-bottom" alt="Cathédrale">
      </div>
    <div class="carousel-item text-center card active">
        <a href="https://www.diocesemontreal.org/fr" i18n-href="url diocese" i18n="nom cathédrale" target="_blank" class="card-img-overlay text-light">La cathédrale de Montréal</a>
        <img src="assets/montreal-725300_1280.jpg" class="d-block w-100 card-img-bottom" alt="Centre Ville">
      </div>

  </div>

  <!-- Controle-->
  <button class="carousel-control-prev" type="button" data-bs-target="#lab26Carousel"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span i18n="boton précédent carousel" class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#lab26Carousel"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span i18n="bouton suivant carousel" class="visually-hidden">Suivant</span>
    </button>
</div>
</div>
<router-outlet></router-outlet>
